<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99271246877-dv46msdmoj6vhl03n55gc9d1s2bks9kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99271246877-dv46msdmoj6vhl03n55gc9d1s2bks9kt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_pCDwMN2I21ndqTQDJUveA9FDQEHFZnY</string>
	<key>GCM_SENDER_ID</key>
	<string>99271246877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bram3r.PruebaGitIOS</string>
	<key>PROJECT_ID</key>
	<string>lifeapp-6eedb</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeapp-6eedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99271246877:ios:6f7ec8073cf4d6367bb2f4</string>
</dict>
</plist>